.w3-half {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 50%;
  margin: 4px 0;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
  font-size: x-small;
}
